.center-form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.page-title {
    margin: 10px 0px 20px 0px;
    padding: 0px 5px;
    color: white;
    background-color: rgb(0, 21, 41);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.icon {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}