<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <title>NotBooking</title>
</head>
<body>
    <header class="showcase">
        <div class="content">
            <img src="../../../assets/images/Logo.png" class="logo" alt="Traversy Media">
            <div class="title">
                Welcome to NotBooking
            </div>
            <div class="text">
                Booking and renting made easy
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="services">
        <div class="container grid-3 center">
        <div>
            <i class='fas fa-home fa-3x'></i>
            <h3>Room Management</h3>
            <p>Add, edit or remove rooms from system with ease!</p>
        </div>
        <div>
            <i class="fas fa-calendar-check fa-3x"></i>
            <h3>Reservations</h3>
            <p>Manage reservations - accept or cancel them.</p>
        </div>
        <div>
            <i class="fas fa-briefcase fa-3x"></i>
            <h3>Make a booking</h3>
            <p>Create a new booking, which will be confirmed or denied by the admin.</p>
        </div>
        </div>
    </section>

    <!-- About -->
    <section class="about bg-light">
        <div class="container">
        <div class="grid-2">
            <div class="center">
            <i class="fas fa-laptop-code fa-10x"></i>
            </div>
            <div>
            <h3 class="about-title">About</h3>
            <p>We may not be as perfected as some booking platforms, but we have the functionalities that reservation services require.</p>
            </div>
        </div>
        </div>
    </section>
</body>
</html>