.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #061729;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}