<nz-layout>
  <!-- No user logged in -->
  <nz-sider [nzTrigger]="null" nzWidth="200px" *ngIf="!isAdminLoggedIn && !isGuestLoggedIn">
    <!-- <span style="display: inline-flex;">
      <img src="assets/images/Logo.png" alt="logo" class="logo">
      <div style="display: flex; align-items: center;"><p class="logoTitle">otBooking</p></div>
    </span> -->
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/login" style="text-align: center;">
        <img src="assets/images/Logo.png" alt="logo" style="height: 2.5em; width: 2.5em;">
        <!-- <span nz-icon addIconLiteral="=assets/images/Logo.ico"></span> -->
        <!-- <span style="margin: 0; padding: 0; translate: -5% 25%">otBooking</span> -->
      </li>
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="login"></span>
        <span><strong>Login</strong></span>
      </li>
    </ul>
  </nz-sider>
  <!-- Admin user logged in -->
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/admin/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/reservations">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservations</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>
  <!-- Guest user logged in -->
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isGuestLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/admin/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/guest/bookings">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Bookings</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Copyright 2024 © NotBooking</nz-footer>
  </nz-layout>
</nz-layout>
