<nz-layout class="app-layout">
  <!-- No user logged in -->
  <nz-sider [nzTrigger]="null" nzWidth="200px" *ngIf="!isAdminLoggedIn && !isGuestLoggedIn">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- <li nz-menu-item routerLink="/" style="text-align: center;"> -->
      <li class="menu-header-logo">
        <img src="assets/images/Logo.png" alt="logo" style="height: 2.5em; width: 2.5em;">
      </li>
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="login"></span>
        <span><strong>Login</strong></span>
      </li>
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
    </ul>
  </nz-sider>
  <!-- Admin user logged in -->
  <nz-sider [nzTrigger]="null" nzWidth="200px" *ngIf="isAdminLoggedIn">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- <li nz-menu-item routerLink="/admin/dashboard" style="text-align: center;"> -->
      <li class="menu-header-logo">
        <img src="assets/images/Logo.png" alt="logo" style="height: 2.5em; width: 2.5em;">
      </li>
      <li nz-menu-item routerLink="/admin/reservations">
        <span nz-icon nzType="calendar"></span>
        <span><strong>Reservations</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/dashboard">
        <span nz-icon nzType="home"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/add-room">
        <span nz-icon nzType="plus-square"></span>
        <span><strong>Create Room</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>
  <!-- Guest user logged in -->
  <nz-sider [nzTrigger]="null" nzWidth="200px" *ngIf="isGuestLoggedIn">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- <li nz-menu-item routerLink="/login" style="text-align: center;"> -->
      <li class="menu-header-logo">
        <img src="assets/images/Logo.png" alt="logo" style="height: 2.5em; width: 2.5em;">
      </li>
      <li nz-menu-item routerLink="/guest/rooms">
        <span nz-icon nzType="home"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/guest/bookings">
        <span nz-icon nzType="calendar"></span>
        <span><strong>Bookings</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Copyright 2024 © NotBooking</nz-footer>
  </nz-layout>
</nz-layout>
