// .logo {
//     // display: block;
//     margin-left: auto;
//     margin-right: auto;
//     height: 80px;
//     // padding-top: 10px;
//     // margin: 16px 16px 16px 16px;
//     // background: rgba(255, 255, 255, 0.3);
// }

// .logoTitle {
//     font-size: 1.55rem;
//     margin: 0;
//     translate: -5% 25%;
//     color: #ffd900;
//     text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
// }

.app-layout {
    min-height: 100vh;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 360px;
    // min-height: 100vh;
}

nz-footer {
    text-align: center;
}

.menu-header-logo {
    margin-top: 10px;
    text-align: center;
}